/* GERAL */
* {
    box-sizing: border-box; /* tamanho leva em consideração o padding */
}

body {
    background-color: #e4d2e6; /* determina a cor de fundo de um elemento */
    font-family: 'Lato', Arial, Helvetica, sans-serif; /* determina o tipo de fonte */
}

a {
    text-decoration: none; /* define algum tipo de decoração no texto. Valores: overline, line-through, underline, underline overline */
}

img {
    width: 85%; /* define o comprimento */
}

/* FONTS */

h1{
    text-align: center;

}

h2 {
    text-align: right; /* define o alinhamento do texto */
    font-size: 35px; /* define o tamanho da fonte. Unidades possíveis são px, em, rem, entre outros */
    text-transform: uppercase; /*define alguma mudança na própria fonte. Valores possíveis: lowercase, uppercase, capitalize */
}

h3 {
    text-align: right;
}

.conteudo p {
    width: 430px;
    margin-bottom: 110px;
    text-align: right;  
}

/* UTILITIES */


.conteudo {
    width: 45%;
    display: inline-block;

}

.celular {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.sobre {
   width: 960px;
   margin: 0 auto; /* macete para deixar elementos block centralizados */
   margin-top: 100px;
   display: flex;
}

.botoes {
    text-align: right; 
}



.botao1 {
    padding: 10px 12px;
    font-size: 16px;
    background-color: #5d1277;
    color: white; /* define a cor do conteúdo do elemento */
    cursor: pointer;
}

.botao2 {
    padding: 10px 12px;
    font-size: 16px;
    color: #5d1277;
    border: 1px solid #5d1277; /* cria uma borda no elemento. Ordem de valores: grossura-da-borda tipo-da-borda cor-da-borda. */
    margin: 5px;
    cursor: pointer;
}

